<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body style="background-size: cover;" class="d-flex flex-column min-vh-100">
    <form class="p-4 p-md-5 border rounded-3 bg-light" action="/test" method="get">
        <div class="col-12">
            <label for="project" class="position-absolute px-2 small text-secondary">Выберите проект</label>
            <select class="form-select pt-4" id="project" name="project">
                <option value="" selected disabled>Проект</option>
                <option value="154230604">Помойка</option>
                <option value="189966465">LMS Core + Академика</option>
                <option value="154230696">WebDev.Академика</option>
                <option value="154230633">WebDev.Passport</option>
                <option value="154071056">Вебинар.Ивлеева + Малахов</option>
            </select>
        </div>
        <div class="form-floating my-3">
            <input type="text" name="namePage" class="form-control" id="namePage">
            <label for="namePage">Название страницы</label>
        </div>
        <div class="form-floating my-3">
            <input type="text" name="uid" class="form-control" id="uid">
            <label for="uid">UID дашборда в Grafana</label>
        </div>
        <div class="col-12">
            <label for="testType" class="position-absolute px-2 small text-secondary">Выберите тип теста</label>
            <select class="form-select pt-4" id="testType" name="testType">
                <option value="" selected disabled>Тип теста</option>
                <option value="187835276">Эталонный тест</option>
                <option value="187835276">Тест поиска максимума</option>
                <option value="187835276">Тест стабильности</option>
                <option value="187835276">Стресс-тест</option>
                <option value="187835276">Сравнительный тест</option>
            </select>
        </div>

        <div class="checkbox mb-3">
        </div>
        <button class="w-100 btn btn-lg btn-primary"  type="submit">Render of Grafana</button>
        <hr class="my-4">
    </form>
</body>
<footer class="mt-auto">
    <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-1 border-top ">
        <div class="col-md-4 d-flex align-items-center ">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-light text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-light">© Skillbox, 2023</span>
        </div>
    </div>
</footer>
</html>