<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
<form class="p-4 p-md-5 border rounded-3 bg-light" action="/download" method="get">
    <div class="form-floating mb-3">
        <input type="text" name="login" class="form-control" id="floatingInput1">
        <label for="floatingInput">Login</label>
    </div>

    <div class="form-floating mb-3">
        <input type="password" name="pass" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" name="url" class="form-control" id="floatingInput">
        <label for="floatingInput">URL Grafana</label>
    </div>
    <div class="checkbox mb-3">
    </div>
    <button class="w-100 btn btn-lg btn-primary"  type="submit">Render of Grafana</button>
    <hr class="my-4">
    <small class="text-muted">By clicking 'Render of Grafana', you agree to the terms of use.</small>
</form>

</body>
</html>